.form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin-bottom: 15px;
}

.input {
  flex-grow: 3;
}
::placeholder {
  color: black;
  font-weight: 600;
  padding-left: 10px;
}
.submit {
  background-color: #4c4c4b;
  color: white;
  border: none;
  flex-grow: 1;
}
