#root {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #232323;
  color: #656565;
  /*font-family: "Open Sans";*/
}

h2 {
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: #4c4c4b;
}
