#root {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #232323;
  color: #656565;
  /*font-family: "Open Sans";*/
}

h2 {
  color: white;
}

.submit {
  background-color: #4c4c4b;
}

.cubes-container {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}
