@import url("https://fonts.googleapis.com/css?family=Open+Sans");

:root {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #232323;
  color: #656565;
  font-family: "Open Sans";
}

/* Styles for my-element on mobile devices */
@media screen and (max-width: 480px) {
  :root {
    padding: 0 5%;
    max-width: unset;
  }
}

h2 {
  color: white;
}

.big-icon {
  width: 32px;
}

.small-icon {
  width: 20px;
}
